module.exports = {
    development: {
        client: 'mysql',
        connection: {
            host: '127.0.0.1',
            database: 'bouboubox',
            user: <DATABASE USER>,
            password: <DATABASE PASSWORD>
        }
    },

    staging: {
        client: 'mysql',
        connection: {
            host: '127.0.0.1',
            database: 'bouboubox',
            user: <DATABASE USER>,
            password: <DATABASE PASSWORD>
        }
    },

    production: {
        client: 'mysql',
        connection: {
            host: '127.0.0.1',
            database: 'bouboubox',
            user: <DATABASE USER>,
            password: <DATABASE PASSWORD>
        }
    }
};