module.exports = {
    development: {
        client: 'sqlite3',
        connection: {
			filename: './bouboubox.sqlite3'
		},
		useNullAsDefaut: false
    },

    staging: {
        client: 'mysql',
        connection: {
            host: '127.0.0.1',
            database: 'bouboubox',
            user: 'DATABASE USER',
            password: 'DATABASE PASSWORD'
        }
    },

    production: {
        client: 'mysql',
        connection: {
            host: '127.0.0.1',
            database: 'bouboubox',
            user: 'DATABASE USER',
            password: 'DATABASE PASSWORD'
        }
    }
};